---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <script async src="https://cdn.jsdelivr.net/npm/busuanzi@2.3.0/bsz.pure.mini.js"></script>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
<!--   <!-- 🌎 世界各地访问统计地图 -->
  <p align="center">
    <img src="https://visitor-badge.laobi.icu/badge?page_id=u-hai.u-hai.github.io" alt="visitor badge"/>
  </p>
 -->
  </body>
</html>
